<?xml version="1.0" encoding="UTF-8"?>
<window>
    <include>Action_BlurImage_SimpleBackground_Onload</include>
    <defaultcontrol>5</defaultcontrol>
    <controls>
        <include>Background</include>

        <include content="Settings_Dialog">
            <include content="Settings_Main_Group">

                <include content="Settings_Left_Group">
                    <include content="Settings_Left_Content">
                        <include content="Settings_Category_List">
                            <param name="id">3</param>
                            <onright>5</onright>
                            <right>40</right>
                            <content>
                                <item id="1">
                                    <label>$LOCALIZE[31150]</label>
                                    <onclick>ActivateWindow(InterfaceSettings)</onclick>
                                </item>
                                <item id="3">
                                    <label>$LOCALIZE[31444]</label>
                                    <onclick>ActivateWindow(skinsettings)</onclick>
                                </item>
                                <item id="2">
                                    <label>$LOCALIZE[14116]</label>
                                    <onclick>ActivateWindow(systeminfo)</onclick>
                                </item>
                            </content>
                        </include>
                    </include>
                </include>

                <include content="Settings_Right_Group">

                    <control type="group" id="5">
                        <control type="group">
                            <visible>Container(3).HasFocus(1)</visible>
                            <include content="List_DialogSelect">
                                <param name="id">8000</param>
                                <param name="detailed">True</param>
                                <param name="variation">True</param>
                                <param name="item_height">120</param>
                                <param name="control">panel</param>
                                <param name="item_w">view_addonbrowser_item_w</param>
                                <param name="itemlayout_w">view_addonbrowser_itemlayout_w</param>
                                <param name="textcolor">main_fg</param>
                                <param name="icon">common/_none.png</param>
                                <top>20</top>
                                <left>20</left>
                                <right>20</right>
                                <bottom>20</bottom>
                                <pagecontrol>60</pagecontrol>
                                <onleft>3</onleft>
                                <onright>60</onright>
                                <content>
                                    <item>
                                        <label>$LOCALIZE[166]</label>
                                        <label2>$LOCALIZE[31177] / $LOCALIZE[480] / $LOCALIZE[33029]</label2>
                                        <icon>special://skin/extras/icons/paintbrush.png</icon>
                                        <onclick>ActivateWindow(SkinSettings)</onclick>
                                    </item>
                                    <item>
                                        <label>$LOCALIZE[14206]</label>
                                        <label2>$LOCALIZE[166] / $LOCALIZE[14222] / $LOCALIZE[360]</label2>
                                        <icon>special://skin/extras/icons/skinsettings.png</icon>
                                        <onclick>ActivateWindow(InterfaceSettings)</onclick>
                                    </item>
                                    <item>
                                        <label>$LOCALIZE[14211]</label>
                                        <label2>$LOCALIZE[14022] / $LOCALIZE[14241] / $LOCALIZE[19033]</label2>
                                        <icon>special://skin/extras/icons/tags.png</icon>
                                        <onclick>ActivateWindow(MediaSettings)</onclick>
                                    </item>
                                    <item>
                                        <label>$LOCALIZE[14200]</label>
                                        <label2>$LOCALIZE[14086] / $LOCALIZE[287] / $LOCALIZE[14087]</label2>
                                        <icon>special://skin/extras/icons/equalizer.png</icon>
                                        <onclick>ActivateWindow(PlayerSettings)</onclick>
                                    </item>
                                    <item>
                                        <label>$LOCALIZE[13000]</label>
                                        <label2>$LOCALIZE[131] / $LOCALIZE[292] / $LOCALIZE[14125] / $LOCALIZE[443]</label2>
                                        <icon>special://skin/extras/icons/configure.png</icon>
                                        <onclick>ActivateWindow(SystemSettings)</onclick>
                                    </item>
                                    <item>
                                        <label>$LOCALIZE[19099]</label>
                                        <label2>$LOCALIZE[14223] / UPnP / $LOCALIZE[1273] / $LOCALIZE[8]</label2>
                                        <icon>special://skin/extras/icons/network.png</icon>
                                        <onclick>ActivateWindow(servicesettings)</onclick>
                                    </item>
                                    <item>
                                        <label>PVR</label>
                                        <label2>$LOCALIZE[14301] / $LOCALIZE[19069] / $LOCALIZE[19043]</label2>
                                        <icon>special://skin/extras/icons/livetv.png</icon>
                                        <onclick>ActivateWindow(pvrsettings)</onclick>
                                    </item>
                                    <item>
                                        <label>$LOCALIZE[13200]</label>
                                        <label2>$LOCALIZE[10029] / $LOCALIZE[13200]</label2>
                                        <icon>special://skin/extras/icons/actor.png</icon>
                                        <onclick>ActivateWindow(Profiles)</onclick>
                                    </item>
                                    <item>
                                        <label>$LOCALIZE[10003]</label>
                                        <label2>$LOCALIZE[13000]</label2>
                                        <icon>special://skin/extras/icons/filebox.png</icon>
                                        <onclick>ActivateWindow(filemanager)</onclick>
                                    </item>
                                    <item>
                                        <label>$LOCALIZE[24001]</label>
                                        <label2>$LOCALIZE[13000]</label2>
                                        <icon>special://skin/extras/icons/addon.png</icon>
                                        <onclick>ActivateWindow(addonbrowser)</onclick>
                                    </item>
                                    <item>
                                        <label>$LOCALIZE[19033]</label>
                                        <label2>$LOCALIZE[13000]</label2>
                                        <icon>special://skin/extras/icons/sysinfo.png</icon>
                                        <onclick>ActivateWindow(systeminfo)</onclick>
                                    </item>
                                    <item>
                                        <label>$LOCALIZE[10050]</label>
                                        <label2>$LOCALIZE[13000]</label2>
                                        <icon>special://skin/extras/icons/list-check.png</icon>
                                        <onclick>ActivateWindow(eventlog)</onclick>
                                    </item>
                                </content>
                            </include>

                        </control>

                        <control type="group">
                            <top>20</top>
                            <bottom>20</bottom>
                            <left>20</left>
                            <right>20</right>
                            <visible>Container(3).HasFocus(2)</visible>
                            <include content="Settings_Label">
                                <param name="dialog">false</param>
                                <param name="control">label</param>
                                <label>$LOCALIZE[13000]</label>
                            </include>
                            <control type="grouplist">
                                <top>80</top>
                                <control type="group">
                                    <top>20</top>
                                    <height>105</height>
                                    <orientation>horizontal</orientation>
                                    <left>40</left>
                                    <right>40</right>
                                    <control type="group">
                                        <left>0</left>
                                        <width>33%</width>
                                        <control type="group">
                                            <right>20</right>
                                            <control type="label">
                                                <height>40</height>
                                                <textcolor>main_fg_70</textcolor>
                                                <label fallback="19055">$INFO[system.memory(used.percent),Used memory: ,]</label>
                                            </control>
                                            <control type="group">
                                                <height>12</height>
                                                <top>60</top>
                                                <control type="progress" id="9201">
                                                    <info>system.memory(used)</info>
                                                    <texturebg colordiffuse="dialog_bg_12" border="12,0,12,0">progress/progress-nib.png</texturebg>
                                                    <midtexture colordiffuse="$VAR[ColorHighlight]" border="12,0,12,0">progress/progress-nib.png</midtexture>
                                                </control>
                                                <control type="progress">
                                                    <info>system.memory(used)</info>
                                                    <texturebg colordiffuse="00ffffff" border="12,0,12,0">progress/progress-bg.png</texturebg>
                                                    <midtexture colordiffuse="$VAR[ColorGradient]" border="12,0,12,0" diffuse="progress/diffuse.png">progress/progress-bg.png</midtexture>
                                                    <include content="Defs_Progress_Colorfade">
                                                        <param name="id">9201</param>
                                                    </include>
                                                </control>
                                            </control>
                                        </control>
                                    </control>
                                    <control type="group">
                                        <right>0</right>
                                        <width>67%</width>
                                        <control type="group">
                                            <left>20</left>
                                            <control type="label">
                                                <height>40</height>
                                                <textcolor>main_fg_70</textcolor>
                                                <label fallback="19055">$INFO[System.CPUUsage,$LOCALIZE[13271] ,]</label>
                                            </control>
                                            <control type="group">
                                                <height>12</height>
                                                <top>60</top>
                                                <control type="progress" id="9202">
                                                    <info>System.CPUUsage</info>
                                                    <texturebg colordiffuse="dialog_bg_12" border="12,0,12,0">progress/progress-nib.png</texturebg>
                                                    <midtexture colordiffuse="$VAR[ColorHighlight]" border="12,0,12,0">progress/progress-nib.png</midtexture>
                                                </control>
                                                <control type="progress">
                                                    <info>System.CPUUsage</info>
                                                    <texturebg colordiffuse="00ffffff" border="12,0,12,0">progress/progress-bg.png</texturebg>
                                                    <midtexture colordiffuse="$VAR[ColorGradient]" border="12,0,12,0" diffuse="progress/diffuse.png">progress/progress-bg.png</midtexture>
                                                    <include content="Defs_Progress_Colorfade">
                                                        <param name="id">9202</param>
                                                    </include>
                                                </control>
                                            </control>
                                        </control>
                                    </control>
                                </control>

                                <control type="group">
                                    <top>-10</top>
                                    <height>0</height>
                                </control>

                                <include content="Settings_Landing_Label">
                                    <param name="label">$LOCALIZE[154]</param>
                                    <param name="label2">$INFO[System.FreeSpace]$INFO[System.UsedSpace, • ,]$INFO[System.TotalSpace, • ,]</param>
                                    <param name="visible">!String.IsEmpty(System.FreeSpace)</param>
                                </include>

                                <include content="Settings_Landing_Label">
                                    <param name="label">$LOCALIZE[131]</param>
                                    <param name="label2">$INFO[System.ScreenResolution]</param>
                                    <param name="visible">!String.IsEmpty(System.ScreenResolution)</param>
                                </include>

                                <include content="Settings_Landing_Label">
                                    <param name="label">$LOCALIZE[621]</param>
                                    <param name="label2">$INFO[System.VideoEncoderInfo]</param>
                                    <param name="visible">!String.IsEmpty(System.VideoEncoderInfo)</param>
                                </include>

                                <include content="Settings_Landing_Label">
                                    <param name="label">$LOCALIZE[705]</param>
                                    <param name="label2">$INFO[Network.IPAddress]$INFO[Network.MacAddress, • $LOCALIZE[149]: ,]$INFO[Network.SubnetMask, • $LOCALIZE[13159]: ,]</param>
                                    <param name="visible">!String.IsEmpty(Network.IPAddress)</param>
                                </include>

                                <include content="Settings_Landing_Label">
                                    <param name="label">$LOCALIZE[248]</param>
                                    <param name="label2">$INFO[System.Language]</param>
                                    <param name="visible">!String.IsEmpty(System.Language)</param>
                                </include>

                            </control>
                        </control>


                        <control type="group">
                            <visible>Container(3).HasFocus(3)</visible>
                            <include content="List_DialogSelect">
                                <param name="id">8001</param>
                                <param name="detailed">True</param>
                                <param name="variation">True</param>
                                <param name="item_height">120</param>
                                <param name="control">panel</param>
                                <param name="item_w">view_addonbrowser_item_w</param>
                                <param name="itemlayout_w">view_addonbrowser_itemlayout_w</param>
                                <param name="textcolor">main_fg</param>
                                <param name="icon">common/_none.png</param>
                                <top>20</top>
                                <left>20</left>
                                <right>20</right>
                                <bottom>20</bottom>
                                <pagecontrol>60</pagecontrol>
                                <onleft>3</onleft>
                                <onright>60</onright>
                                <content>
                                    <item>
                                        <label>LibreELEC</label>
                                        <label2>service.libreelec.settings</label2>
                                        <icon>special://skin/extras/icons/libreelec.png</icon>
                                        <onclick>RunAddon(service.libreelec.settings)</onclick>
                                        <visible>System.AddonIsEnabled(service.libreelec.settings)</visible>
                                    </item>
                                    <item>
                                        <label>CoreELEC</label>
                                        <label2>service.coreelec.settings</label2>
                                        <icon>special://skin/extras/icons/coreelec.png</icon>
                                        <onclick>RunAddon(service.coreelec.settings)</onclick>
                                        <visible>System.AddonIsEnabled(service.coreelec.settings)</visible>
                                    </item>
                                    <item>
                                        <label>TMDbHelper</label>
                                        <label2>plugin.video.themoviedb.helper</label2>
                                        <icon>special://skin/extras/icons/tmdb.png</icon>
                                        <onclick>Addon.OpenSettings(plugin.video.themoviedb.helper)</onclick>
                                        <visible>System.AddonIsEnabled(plugin.video.themoviedb.helper)</visible>
                                    </item>
                                    <item>
                                        <label>Artist Slideshow</label>
                                        <label2>script.artistslideshow</label2>
                                        <icon>special://skin/extras/icons/image.png</icon>
                                        <onclick>Addon.OpenSettings(script.artistslideshow)</onclick>
                                        <visible>System.AddonIsEnabled(script.artistslideshow)</visible>
                                    </item>
                                    <item>
                                        <label>Up Next</label>
                                        <label2>service.upnext</label2>
                                        <icon>special://skin/extras/icons/arrows-turn-right.png</icon>
                                        <onclick>Addon.OpenSettings(service.upnext)</onclick>
                                        <visible>System.AddonIsEnabled(service.upnext)</visible>
                                    </item>
                                    <item>
                                        <label>Arctic Mirage</label>
                                        <label2>screensaver.arctic.mirage</label2>
                                        <icon>special://skin/extras/icons/sun2.png</icon>
                                        <onclick>Addon.OpenSettings(screensaver.arctic.mirage)</onclick>
                                        <visible>System.AddonIsEnabled(screensaver.arctic.mirage)</visible>
                                    </item>
                                    <item>
                                        <label>[CAPITALIZE]$LOCALIZE[31449][/CAPITALIZE]</label>
                                        <label2>skin.arctic.fuse.2</label2>
                                        <icon>special://skin/extras/icons/hat-wizard.png</icon>
                                        <onclick>ActivateWindow(1180)</onclick>
                                    </item>
                                    <item>
                                        <label>[CAPITALIZE]$LOCALIZE[31496][/CAPITALIZE]</label>
                                        <label2>skin.arctic.fuse.2</label2>
                                        <icon>special://skin/extras/icons/screwdriver-wrench.png</icon>
                                        <onclick>ActivateWindow(1115)</onclick>
                                    </item>
                                    <item>
                                        <label>[CAPITALIZE]$LOCALIZE[31275][/CAPITALIZE]</label>
                                        <label2>skin.arctic.fuse.2</label2>
                                        <icon>special://skin/extras/icons/search.png</icon>
                                        <onclick>SetProperty(Shortcuts.EditMenu,menu=searchmenu,Home)</onclick>
                                        <onclick>ClearProperty(Shortcuts.EditMode,Home)</onclick>
                                        <onclick>ClearProperty(Shortcuts.EditGUID,Home)</onclick>
                                        <onclick>ActivateWindow(1116)</onclick>
                                    </item>
                                    <item>
                                        <label>[CAPITALIZE]$LOCALIZE[31086][/CAPITALIZE]</label>
                                        <label2>skin.arctic.fuse.2</label2>
                                        <icon>special://skin/extras/icons/bars.png</icon>
                                        <onclick>SetProperty(CustomDialogSettingsTitle,[CAPITALIZE]$LOCALIZE[31086][/CAPITALIZE],Home)</onclick>
                                        <onclick>SetProperty(CustomDialogSettingsItems,Items_Settings_PowerMenuConfigure,Home)</onclick>
                                        <onclick>ActivateWindow(1118)</onclick>
                                    </item>
                                    <item>
                                        <label>$LOCALIZE[31203] $LOCALIZE[31434]</label>
                                        <label2>skin.arctic.fuse.2</label2>
                                        <icon>special://skin/extras/icons/gauge.png</icon>
                                        <onclick>SetProperty(CustomDialogSettingsItems,Items_Settings_VideoOSDWidgets,Home)</onclick>
                                        <onclick>SetProperty(CustomDialogSettingsTitle,Customise Video OSD widgets,Home)</onclick>
                                        <onclick>ActivateWindow(1118)</onclick>
                                    </item>
                                    <item>
                                        <label>[CAPITALIZE]$LOCALIZE[31203] $LOCALIZE[12003][/CAPITALIZE]</label>
                                        <label2>skin.arctic.fuse.2</label2>
                                        <icon>special://skin/extras/icons/circle-info.png</icon>
                                        <onclick>SetProperty(CustomDialogSettingsItems,Items_Settings_VideoInfoWidgets,Home)</onclick>
                                        <onclick>SetProperty(CustomDialogSettingsTitle,Customise Video info widgets,Home)</onclick>
                                        <onclick>ActivateWindow(1118)</onclick>
                                    </item>
                                    <item>
                                        <label>[CAPITALIZE]$LOCALIZE[31321][/CAPITALIZE]</label>
                                        <label2>skin.arctic.fuse.2</label2>
                                        <icon>special://skin/extras/icons/table.png</icon>
                                        <onclick>runscript(script.skinvariables,action=buildviews,configure)</onclick>
                                    </item>
                                    <item>
                                        <label>[CAPITALIZE]$LOCALIZE[31234][/CAPITALIZE]</label>
                                        <label2>skin.arctic.fuse.2</label2>
                                        <icon>special://skin/extras/icons/cube.png</icon>
                                        <onclick>SetProperty(CustomDialogSettingsItems,Items_Settings_Indicators,Home)</onclick>
                                        <onclick>SetProperty(CustomDialogSettingsTitle,$LOCALIZE[31235],Home)</onclick>
                                        <onclick>ActivateWindow(1118)</onclick>
                                    </item>
                                </content>
                            </include>

                        </control>

                    </control>
                </include>
                <include content="Settings_InfoText">
                    <param name="id">6</param>
                    <param name="dialog">false</param>
                    <param name="left">500</param>
                    <param name="bottom">80</param>
                </include>
            </include>
        </include>

    </controls>
</window>
